.order {
  display: flex;
}

.order h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 9, 94);
  margin-bottom: 65px;
  font-size: 45px;
  margin-bottom: -10px;
  text-align: center;
  padding: 45px 0px;
}

.text-orders h1 {
  text-align: center;
}

li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}