@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: "josefin sans", sans-serif;
}

.photographers {
  display: flex;
  flex-flow: row nowrap;
}

.photographer-form-div {
  padding: 50px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 2000px;
}

.photographer-form-div-header {
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 3px;
  color: rgb(0, 9, 94);
}

.inputpho {
  padding: 25px;
  background: linear-gradient(135deg, #e3e3e3 0%, #ffffff 100%);
  border-left: 5px solid #1a2d6d;
  border-top: none;
  border-right: none;
  border-radius: 0px;
  color: #1a2d6d;
  font-size: large;
  margin: 15px 0px;
}

.submitpho {
  padding: 15px;
  background-color: rgb(255, 200, 0);
  color: #1a2d6d;
  font-size: x-large;
}

.submitpho:hover {
  background-color: #1a2d6d;
  color: rgb(255, 200, 0);
  font-size: x-large
}